/*Here will be the style code*/
a {
    text-decoration: none;
}
#contact {
    position: absolute;
    left:2%;
    top:4%;
    text-align: left;
    border-style: dotted;
    border-width: 2px;
    border-color: aquamarine;
    padding: 5px 30px;
    margin: 10px;
}
#pic {
    position:absolute;
    top:4%;
    right:2%;
}