* {
    margin: 0;
    padding: 0;
}
/* Header */
header {
    height: 18rem;
    background-color: aquamarine;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#headerContent {
    text-align: center; 

    nav {
        display: flex;
        justify-content: center;
        align-items: end;
        ul {
            display: inline;
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: inline;
                background-color: white;
                padding: 2px 5px;
                margin: 0;
                border-left: 2px solid black;
                
                a {
                    height: 100%;
                    width: 100%;
                    color: black;
                    text-decoration: none;
                    transition: transform 0.4s ease;
                }
            }
        }
    }
    nav ul li a:hover {
        transform: scale(1.2);
    }
}
#title {
    color: white;
    font-size: 8rem;
    text-shadow: 2px 2px 5px black;
    padding: 0px 15px;
}

/* Main */
main {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainContent {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#gamesTitle {
    height: 20px;
    width: 100%;
    padding: 5px;
    margin: 15px;
    color: white;
    background-color: black;
}
.contentDivs {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0px;

    a {
        text-decoration: none;
        color: black;
        background-color: white;
        border: 2px solid black;
    }
}
.contentDivs {
    display: flex;
    justify-content: space-around;
}

.gameBoxes {
    div {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        padding: 0px 4px;
        margin-bottom: 5px;
    }
    border-radius: 20px;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin: 0px 10px;

    transition: transform 0.3s ease;
}
.gameBoxes:hover {
    transform: scale(1.2);
}
#RockPaperScissor {
    background-image: url("Images/RockPaperScissor.jpg");
    background-size: cover;
}
#Ludo {
    background-image: url("Images/Ludo.jpg");
    background-size: cover;
}
#Sudoku {
    background-image: url("Images/Sudoku.jpg");
    background-size: cover;
}
#NewGame {
    background-image: url("Images/NewGame.jpg");
    background-size: cover;
}

/* Footer */
footer {
    height: 40px;
    color: white;
    background-color: rgb(1, 9, 33);
}
#footerTop {
    text-align: left;
}
#footerMiddle {
    text-align: right;
}
#footerBottom {
    font-size: medium;
    text-align: center;
    height: 20px;
    color: white;
    background-color: rgb(1, 8, 27);
    border-top: 1px solid white;
    padding: 5px;
}
