* {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    color: white;
    background-color: black;
    background-image: url("Image/HeaderBG2.png");
    background-size: cover;
    border-bottom: 1px solid black;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title {
    color: rgb(129, 241, 0);
    border: 2px solid white;
    border-radius: 20px;
    padding: 2px 50px;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}   
#titleContent {
    h1 {
        padding-bottom: 5px;
        font-size: 80px;
        border-bottom: 1px solid white;
        text-shadow: 3px 3px 4px black;
    }
    p {
        padding-top: 4px;
        font-size: large;
        color: rgb(255, 247, 0);
        text-shadow: 1px 1px 2px black;
    }
}
#intro {
    color: rgb(255, 26, 26);
    font-size: larger;
    
    background-color: rgba(255, 255, 255, 0.723);
    border-radius: 3px;
    padding: 0px 4px;
}

/* Main */
main {
    background-image: url("Image/BGImage.jpg");
    background-size: cover;
}
/* Score Board */
#scoreBoard {
    height: 70px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.scoreContents {
    height: 50px;
    width: 220px;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin: 5px;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: x-large;
    }
}
#attemptCount {
    font-size: xx-large;
}
/* Instruction Box */
#instructions {
    height: 45px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#instructionBox {
    height: 40px;
    width: max-content;
    padding: 0px 20px;
    border: 2px solid rgb(255, 140, 58);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MainContent */
#mainContent {
    height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choiceBox {
    height: 250px;
    width: 250px;
    background-color: white;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin: 3px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h3 {
        height: 25px;
        width: 100%;
        padding-top: 5px;
        border-bottom: 1px solid black;
    }
}

#contentBox {
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contentBox {
    height: 200px;
    width: 200px;
    color: black;
    font-size: larger;
    text-shadow: 2px -2px 4px white;
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
    padding-bottom: 5px;
    font-size: medium;
    transition: transform 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: end;
    h4 {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        padding: 0px 4px;
        margin-bottom: 6px;
    }
}
.contentBox:hover {
    transform: scale(1.2);
    border: 5px solid red;
}
.contentBox:active {
    transform: scale(1.2);
    border: 3px solid yellow;
}

#rock {
    background-image: url("Image/Rock.png");
    background-size: cover;
}
#paper {
    background-image: url("Image/Paper.png");
    background-size: cover;
}
#scissor {
    background-image: url("Image/Scissor.jpg");
    background-size: cover;
}

/* Submit */
#buttons {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: top;
}
.button {
    padding: 1px 10px;
    font-size: larger;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px;
    transition: color 0.2s ease;
    transition: background-color 0.2s ease;
}
.button:hover {
    color: black;
    background-color: white;
}

/* Footer */
footer {
    font-family: cursive, sans-serif, Arial, Helveticas;
    color: white;
    background-color: black;
    height: 30px;
    border-top: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for JavaScrip */
.selectContent {
    height: 200px;
    width: 200px;
    color: black;
    font-size: larger;
    text-shadow: 2px -2px 4px white;
    background-color: white;
    border: 5px solid white;
    border-radius: 50%;
    padding-bottom: 5px;
    font-size: medium;
    transition: transform 0.3s ease;

    display: flex;
    justify-content: center;
    align-items: end;
    h4 {
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        padding: 0px 4px;
        margin-bottom: 6px;
    }
}

#rockClick {
    background-image: url("Image/Rock.png");
    background-size: cover;
}
#paperClick {
    background-image: url("Image/Paper.png");
    background-size: cover;
}
#scissorClick {
    background-image: url("Image/Scissor.jpg");
    background-size: cover;
}
